*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1215px;
    margin: 0 auto  ;
}